<%= turbo_frame_tag "modal" do %>
  <div class="p-6">
    <%= render "shared/modal" do %>
      <h1 class="text-2xl font-bold mb-4 text-gray-800"><%= t('.title') %></h1>
      <%= render 'form' %>
    <% end %>
  </div>
<% end %>