<%= turbo_frame_tag "modal" do %>
  <div class="p-6" data-controller="modal">
    <%= render "shared/modal" do %>
      <h1 class="text-2xl font-bold mb-4">Nuevo Folio</h1>
      <%= render "form", folio: @folio %>
    <% end %>
  </div>
<% end %>